body {
  background-image: url('../media/orange.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  display: block;
  margin: 8px;
  font-family: Arial, sans-serif;
}

main-nav {
  float: left;
  width: 100px;
  background-color: blue;
}

#main-nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
}

main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

main-nav ul li a {
  padding: 10px 25px;
  display: block;
  color: #ccc;
}

nav ul li a {
  color: #ee2929;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff580; 
  background-color: #2200fb; 
  text-decoration: underline; 
}

.nav-container {
  display: flex;
  justify-content: center;
  unicode-bidi: isolate;
  background-color: rgba(27, 127, 204, .8);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.navigation ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  margin-right: 20px;
  background-color: #0056a6; 
}

.page-wrapper {
  width: 890px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px rgba(40,67,135,1);
  border-radius: 12px 12px 0px 0px;
}

header {
  position: relative;
  margin-top: 40px;
  border-radius: 12px 12px 0px 0px; 
}

img {
  max-width: 100%;
  height: auto;
  z-index: auto;
}

.header h1 {
  position: absolute;
  left: 455px;
  top: 40px;
  font-size: 4em;
  font-family: 'Devonshire', Garamond;
  color: #00ffea
}

.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 10px;
  padding-right: 10px;
  height: 100px;
}

.header-content h1 {
  font-size: 3em;
  font-family: 'Devonshire', Arial;
  color: #add8e6;
}

div {
  text-align: center;
}

li {
  color: black;
  font-size: 1em;
}

header a .image1 img {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

ul {
  color: black;
  font-size: 1em;
}


ul {
  padding-left:20px;
  margin: 20px 0;
}

h2 strong{
  font-size: 2em;
  font-weight: 800;
}

footer {
  background-color: #1b7fcc;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}


.navigation ul li a {
  color: white;
  text-decoration: none; 
  font-size: 1.2em;
  padding: 10px 20px; 
  background-color: #1b7fcc;
  border-radius: 5px;	
  transition: background-color 0.3s ease; 
}

p {
  color: #ffffff;
  font-size: 2em;
  line-height: 1.6;
}

.container {
  justify-content: center;
  padding-left: 20px;
  align-items: center;
  min-height: 100vh;
}

content-wrapper {
  width: 960px;
  text-align: center;
  font-family: sans-serif, "Helvetica Neue", Arial;
  font-stretch: expanded;
}

strong {
  color: blue;
  font-weight: bold;
}
